.ical-events-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.ical-events-header{
    display: flex;
    font-size: x-small;
}

.ical-events-header-line{
    margin-left: 3px;
}

.ical-events-header-note{
    margin-left: 30px;
}

.ical-events-header-event{
    margin-left: 37px;
}

.ical-event-selector-container{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.ical-line-selector-toggler {
    margin-right: 10px;
}

.ical-note-selector-toggler {
    margin-right: 10px;
}

.ical-event-selector-label{
    margin-left: 10px;
    margin-top: -8px;
    font-size: smaller;
    display: flex;
}

.eventLabelCalendarName {
    margin-right: 1em;
    font-size: xx-small;
    color: white;
    padding: 0.2em 1em 0em 1em;
    border-radius: 1em;
    height: 2em;
    margin-top: 0.3em;
}

.eventLabelSummary {
    padding-top: 0.3em;
}

.ical-section-selection-container {
    display: flex;
    margin-right: 10px;
    padding-top: 3px;
}

.ical-section-selection-container select {
    font-size: smaller;
}

.ical-bottom-selector-toggler {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
}

.ical-bottom-selector-label{
    font-size: small;
    padding-top: 0.3em;
}


.ical-events-grid-footer {
    flex: 1 1 auto;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.calendarTitleContainer {
    display: flex;
    align-items: flex-end;
}

.calendarTitle {
    display: block;
    margin-bottom: 0.5em;
    font-size: x-small;
    font-weight: 600;
}

.calendarRemoveButton {
    padding: 0;
    height: 20px !important;
    margin-bottom: 2px;
}

.calendarInput {
    display: block;
    margin-bottom: 0.5em;
}

.calendarInput.large > input{
    width: 100%;
}

.calendarInputLabel {
    display: block;
    font-size: xx-small;
    font-weight: 200;
}

.addNewCalendarContainer{
    margin-bottom: 0.5em;
    display: flex;
}

.addNewCalendarContainerSpacer{
    width: 100%;
    min-height: 1px;
}

.summary-form-container {
    display: flex;
    width: 100%;
    margin-bottom: -2px;
    margin-top: -1px;
}

.summary-form-container > input{
    width: 100%;
}

.inlineFormButtonsContainer{
    padding-top: 0.4em;
}

.inlineFormButtonsContainer > svg {
    width: 18px;
    height: 18px;
}

.attendee-form-container {
    display: flex;
    width: 100%;
    margin-bottom: -2px;
    margin-top: -1px;
}

.attendee-form-container > input {
    width: 100%;
}

.ical-attendee-selector-container{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.ical-attendee-selector-label{
    display: flex;
}

.attendeeLabel {
    padding-top: 9px;
}

.inlineFormButtonsContainer .is-disabled {
    color: var(--text-faint)
}